.save_but { background-image: url( ../images/save_but.png ) !important; }
.add_but { background-image: url( ../images/add_but.png ) !important; }
.logout { background-image: url( ../images/logout.gif ) !important; }
.cancel_but { background-image: url( ../images/cancel_but.png ) !important; }
.accept { background-image: url( ../images/accept.png ) !important; }
.digit { color: black; }
.enable_edit { color: green; }
.disable_edit { color: red; }